name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y cmake g++ build-essential

      - name: Configure
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build --config Release

      - name: Run tests
        run: |
          cd build/lib
          ./dywoqstl_lib_tests
          cd ../runtime
          ./dywoqstl_runtime_tests
          cd ../core
          ./dywoqstl_core_tests
        shell: bash
